<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Anuncios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<ion-card class="animated fadeInUp">
<ion-card-header>
<ion-card-title>
  Nombre del anuncio
</ion-card-title>
<ion-card-subtitle>
  Materia a la que se le asigna
</ion-card-subtitle>
</ion-card-header>
<ion-card-content>
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque a aliquam, minima cum laudantium est non eum debitis ut rem aspernatur possimus quae ab ipsa repellat vitae. Culpa, soluta esse.
</ion-card-content>
</ion-card>

      
</ion-content>
