
<div class="login-img"></div>
<ion-content>
  <div class="trans-container">
    <h1 class="biggest-text">Instituto Tecnológico <br> de León</h1>
    <p class="app-name">My Class</p>
    <p>Organiza tus tiempo</p>

    <div class="yuda-form">
      <input type="text" [(ngModel)]="user.email" placeholder="Correo">
      <input type="password" [(ngModel)]="user.password" placeholder="Contraseña">
      <div class="buttons">
        <div class="button">
          <ion-button (click)="login()">Iniciar sesión</ion-button>
          <ion-button (click)="register()">Registrarse</ion-button>
        </div>
      </div>
    </div>
    <h6 class="footer" text-center><small> Instituto Tecnológico de León </small></h6>
  </div>
</ion-content>
